{% extends 'base.html' %}
{%block script%}
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
{%endblock%}
{% block content%}
<div class="container">
<h1 class="text-center w-55"> Payment info </h1>
    {% for code in data4 %}
    <p class="text-center w-55"> Code: {{ code.code }} cost: {{ code.cost }}</p>
<!--        <p class="text-center w-55">Enter the account number in the comments: {{ current_user.user_bill }}</p>-->
    {% endfor %}
<!--        <p class="text-center w-55"> Currency: 1 UAH = 1 Coin </p>-->
        <p class="text-center w-55">
        <button class="btn btn-primary">
            <a href="{{url_for('donate_page')}}" style="color: white"> Donate </a>
        </button>
        </p>


   <h1 class="text-center w-55">Transfer coefficients</h1>
            <table class="table table-striped table-sm w-55">
        <thead>
        <tr>
        <th class="text-center" scope="col">Project_src</th>
        <th class="text-center" scope="col">Project_dst</th>
        <th class="text-center" scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
        {% for el6 in data5 %}
            <tr>
                <td class="text-center">{{ el6.project_src }}</td>
                <td class="text-center">{{ el6.project_dst }}</td>
                <td class="text-center">{{ el6.cost }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>



            <p class="text-center w-55">
        <button class="btn btn-primary">
            <a href="{{url_for('transfer_page')}}" style="color: white"> Transfer </a>
        </button>
        </p>

            <br>
            <h1>Game balance</h1>
         <table class="table table-striped table-sm w-55">
        <thead>
            <th class="text-center" scope="col">Project</th>
            <th class="text-center" scope="col">Balance</th>
        </thead>
        <tbody>
        {% for el2 in data2 %}
            <tr>
                <td class="text-center">{{ el2.project }}</td>
                <td class="text-center">{{ el2.balance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    </div>

{% endblock %}