{% extends 'base.html' %}

{% block title %}
    RF Online
{% endblock %}
{% block am_game %}

    <a class="nav-link">
                        <i class="fas fa-coins"> Current project amount: {{ amount }}</i>
                    </a>
{% endblock %}
{% block content %}
<div class="row mb-4">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('rfmain_page')}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Main
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              Game accounts
            </a>
          </li>
        </ul>
        </div>
        </nav>

    <div class="col-md-4 text-center">
        {% block div1 %}
        {% if count < 5 %}
        <h1 class="text-center"> Create game account </h1>
        <br>
        <form method="post">
            {{ form.hidden_tag() }}
        {{ form.username.label }}
        {{ form.username(class="form-control", placeholder="Username") }}
        <br>
        {{ form.password.label }}
        {{ form.password(class="form-control", placeholder="Password") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-primary") }}
    </form>
        {% endif %}
        {% endblock %}
     </div>

        <div class="col-md-4 text-center">
            {% block div2 %}
            <h1>Game accounts</h1>
         <table class="table table-striped table-sm w-55">
        <thead>
            <th class="text-center" scope="col">Username</th>
            <th class="text-center" scope="col">Premium</th>
            <th class="text-center" scope="col">Premium Start</th>
            <th class="text-center" scope="col">Premium Finish</th>
            <th class="text-center" scope="col">Cash</th>
            <th class="text-center"> Action <th>
        </thead>
        <tbody>
        {% for el in ga %}
            <tr>
                <td class="text-center">{{ el.account_name }}</td>
                <td class="text-center">{{ el.is_premium }}</td>
                <td class="text-center">{{ el.premStart }}</td>
                <td class="text-center">{{ el.premFinish }}</td>
                <td class="text-center">{{ el.cash }}</td>
                <td class="text-center"><a class="nav-link" href="{{url_for('rfshop_page', user= el.account_name )}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
            </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {% endblock %}
        </div>
    </div>
{% endblock %}